body {
  font-family: Tahoma, sans-serif;
  font-size: large;
  background-image: url('img/background/backgroundC.jpg') ;
  background-size:100%;
}

/*images*/
img{
  border-radius: 8px;
  width: 100%;
  height: auto;
}

/*table*/
table{
  width: 100%;
  border-collapse: collapse;
}

tr.spazioTr>td {
  padding-bottom: 2em;
}

table td:nth-child(2) { text-align: end; }

/*classes for alignment*/

.center {
  margin: auto;
  width: 40%;
  border: 3px solid blue;
  padding: 10px;
}

.onlyCenteredText{
  text-align: center;
}

#santo{
  max-width: 100%;
}

#santo img{
  display: none;
}

div[id^="widget"] div:first-of-type{display: none;}


/*screen (adattamento)*/

@media (max-width: 1200px) {
  .center{
    width: 60%;
  }
}

@media (max-width: 700px) {
  .center{
    width: 85%;
  }
}

@media (max-width: 500px) {
  .center{
    width: 90%;
  }
}
